<!DOCTYPE html>
<html data-bs-theme="dark">

	<head>
		<title>
			SiwMovie - Homepage
		</title>
		<link rel="stylesheet" href="/css/stile.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
			crossorigin="anonymous"></script>

	</head>

	<body>
		<nav class="navbar navbar-dark" style="background-color: gray;">
			<div class="container-fluid">
				<a class="navbar-brand" href="/">
					<img src="/images/logo-siw.png" alt="Logo" width="300" height="50"
						class="d-inline-block align-text-top">

				</a>
				<div th:if="${#request.userPrincipal}">
					<span th:text="${#request.userPrincipal.principal.username}"></span>
					<button type="button" class="btn btn-dark btn-primary" href="/logout">
						<a class="decorless" href="/logout">Logout</a>
					</button>
				</div>
				<div th:unless="${#request.userPrincipal}">
					<button type="button" class="btn btn-dark btn-primary" href='/login'>
						<a class="decorless" href="/login">Login</a>
					</button>
				</div>
			</div>
		</nav>

		<div class="container  text-center" th:if="${movie}">

			<div class="container my-5">
				<div>
					<h1>Aggiorna film</h1>
					<h2 th:text="${movie.title}"> Up!</h2>
					<div th:if="${movie.image}">
						<img th:src="@{'data:image/*;base64,'+${movie.image.b64Image}}" alt="Responsive Image"
							class="img-fluid">
						<p th:text="'(' + ${movie.year} + ')'">2000</p>
					</div>
					<div th:unless="${movie.image}">

						<!-- metti la locandina -->
						<h3 class="my-5">aggiungi la locandina</h3>
						<form th:action="@{/admin/addPoster}" method="post" enctype="multipart/form-data">
							<input type="hidden" name="movie" th:value="${movie.id}">
							<div class="input-group mb-3">
								<input class="form-control" type="file" accept="image/*" name="file" required />
							</div>

							<button type="submit" class="btn btn-dark btn-primary my-3">Aggiungi Locandina</button>
						</form>

					</div>
						


					<h1 class="my-5">Gallery</h1>


					<div th:if="${!movie.images.isEmpty()}">

						<div id="carouselExample" class="carousel slide my-4">
							<div class="carousel-inner">
								<div class="carousel-item active" th:each="image: ${movie.images}">
									<img th:src="@{'data:image/*;base64,'+${image.b64Image}}"
										class="d-block w-25 mx-auto">
								</div>
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
								data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
								data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>
					</div>
					<div th:unless="${!movie.images.isEmpty()}">
						<p>non ci sono immagini nella galleria per questo film</p>
					</div>


					<form th:action="@{/admin/addImage}" method="post" enctype="multipart/form-data">
						<input type="hidden" name="movie" th:value="${movie.id}">
						<div class="input-group mb-3">
							<input class="form-control" type="file" accept="image/*" name="file" required />

						</div>

						<button type="submit" class="btn btn-dark btn-primary my-3">Aggiungi immgine alla
							galleria</button>
					</form>
				</div>
			</div>


			<div class="row text-center">
				<div class="col" th:if="${movie.director}">
					<h1>Regista</h1>
					<div class="card mx-auto my-5" style="width: 10rem;">

						<img th:if="${movie.director.artistPicture}"
							th:src="@{'data:image/*;base64,'+${movie.director.artistPicture.b64Image}}"
							class="card-img-top " />

						<div class="card-body">
							<p class="card-text" th:text="${movie.director.name} + ' ' + ${movie.director.surname}"></p>
						</div>
					</div>
					<a th:href="@{'/admin/addDirector/' + ${movie.id}}">
						<button type="button" class="btn btn-dark btn-primary">Modifica Regista</button>
					</a>
				</div>
			</div>
			<div class="row text-center " th:unless="${movie.director}">
				<h1>Regista</h1>
				<p>Non e' presente nessun regista</p>
				<a th:href="@{'/admin/addDirector/' + ${movie.id}}">
					<button type="button" class="btn btn-dark btn-primary">Aggiungi Regista</button>
				</a>
			</div>




			<div class="row my-5 g-2  text-center">
				<h1>Cast</h1>
				<div class="col" th:each="actor:${movie.actors}">
					<div class="card mx-auto my-5" style="width: 10rem;">
						<img th:src="@{'data:image/*;base64,'+${actor.artistPicture.b64Image}}"
							class="card-img-top img-fluid" alt="Actor Image" />
						<div class="card-body">
							<p class="card-text " th:text="${actor.name} + ' ' + ${actor.surname}"></p>
						</div>
					</div>
				</div>
				<a th:href="@{'/admin/updateActors/' + ${movie.id}}">
					<button type="button" class="btn btn-dark btn-primary">Modifica attori</button>
				</a>
			</div>

			<div class="container my-5 border">
				<h1>Recensioni</h1>
				<div class="row my-3">
					<div class="col" th:each="review:${movie.reviews}">
						<div class="card">
							<div class="card-body">
								<h5 th:text="${review.title}" class="card-title">Card title</h5>
								<h6 th:text="${review.score} + '/5' " class="card-subtitle mb-2 text-body-secondary">
									.</h6>
								<p th:text="${review.comment}" class="card-text">.</p>

								<a th:href="@{'/admin/deleteReview/'+ ${review.id}}" class="card-link decorless">Elimina
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
		<div th:unless="${movie}" class=" text-center">
			<h1>Aggiorna film</h1>
			<p>Film non esistente</p>
		</div>




	</body>

</html>